@model EthozCapital.Models.ViewModels.SecurityDepositModel

<form id="mainForm" method="post">
    <div class="tab-content">
        <div class="tab-pane active in" id="nav-tab2-1">
            <h3 class="m-t-10"></h3>
            <fieldset>
                <legend class="pull-left col-md-10 col-sm-8 col-xs-8">Main</legend>
                <legend class="btn pull-right col-xs-2 text-center collapseBtn" data-toggle="collapse" data-target="#main">
                    <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                    <span class="if-not-collapsed"><i class="fa fa-minus"></i></span>
                </legend>
                <div id="selectionbox" class="selectionbox ">
                    <div id="main" class="collapse in">
                        <div class="row collapse in">
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <div>
                                        <label>Security System ID </label>
                                        @Html.TextBoxFor(model => model.Id, "", new { @class = "form-control", @id = "Id", @placeholder = "Security System ID", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <div>
                                        <label>Refundable *</label>
                                        @Html.DropDownListFor(model => model.Refundable, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Yes", Value = "Yes" },
                                            new SelectListItem{ Text="No", Value = "No" },
                                        }, "--Select--", new { @class = "form-control Refundable required", @tabindex = "3", @id = "Refundable", ViewBag.IsView, @style = "font-size:14px;" })
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <div>
                                        <label>Amount *</label>
                                        @Html.TextBoxFor(model => model.Amount, "", new { @class = "form-control money Amount required", @id = "txtAmount", @placeholder = "Amount", @style = "text-align:right;font-size:14px; display:inline", @autocomplete = "off", @maxlength = "20", ViewBag.IsView })
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane active in" id="nav-tab2-1">
            <fieldset>
                <legend class="pull-left col-md-10 col-sm-8 col-xs-8">Bill To</legend>
                <legend class="btn pull-right col-xs-2 text-center collapseBtn" data-toggle="collapse" data-target="#BillTo">
                    <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                    <span class="if-not-collapsed"><i class="fa fa-minus"></i></span>
                </legend>
                <div id="selectionbox" class="selectionbox">
                    <div id="BillTo" class="collapse in">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <div>
                                        <label>Individual/ Corporate *</label>
                                        @Html.DropDownListFor(model => model.BillToDetailModel.IndividualCorporate, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Individual", Value = "Individual" },
                                            new SelectListItem{ Text="Corporate", Value = "Corporate" },
                                        }, "--Select--", new { @class = "form-control IndividualCorporate required", @tabindex = "3", @id = "ddlIndividualCorporate", @style = "font-size:14px;", ViewBag.IsView })
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <label>Customer *</label>
                                    @Html.TextBoxFor(model => model.BillToDetailModel.CustomerName, "", new { @class = "form-control Customer required", @id = "txtCustomer", @placeholder = "Customer", @style = "text-align:left;font-size:14px; display:inline", @autocomplete = "off", @ViewBag.IsView })
                                    @Html.HiddenFor(model => model.BillToDetailModel.Customer, new { @id = "customerId" })
                                    @*<span id="customerId" hidden="hidden"></span>*@
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-md-4" id="NRICFINPASSPORTdiv">
                                <div class="form-group block1">
                                    <label>NRIC/ FIN/ PASSPORT</label>
                                    @Html.TextBoxFor(model => model.BillToDetailModel.NRICFINPASSPORT, "", new { @class = "form-control NRICFINPASSPORT", @id = "txtNRICFINPASSPORT", @placeholder = "NRIC/ FIN/ PASSPORT", @style = "font-size:14px; display:inline", @autocomplete = "off", @readonly = "readonly" })
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-md-4" id="RocUendiv">
                                <div class="form-group block1">
                                    <label>ROC/ UEN</label>
                                    @Html.TextBoxFor(model => model.BillToDetailModel.ROCUEN, "", new { @class = "form-control ROCUEN", @id = "txtROCUEN", @placeholder = "ROC/ UEN", @style = "font-size:14px;", @autocomplete = "off", @readonly = "readonly" })
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <label>Address *</label>
                                    @Html.DropDownListFor(model => model.BillToDetailModel.Address, ViewBag.Address as SelectList, "--Select--", new { @class = "form-control js-example-basic-single3 ddAddress required", @id = "Address", @style = "font-size:14px;", @onchange = "getDepartment($(this).val())" })
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <label>Department</label>
                                    @Html.DropDownListFor(model => model.BillToDetailModel.Department, ViewBag.DepartmentList as SelectList, "--Select--", new { @class = "form-control js-example-basic-single3 ddDepartment", @id = "Department", @readonly = "readonly", @style = "font-size:14px;", @onchange = "getContactPerson($(this).val())" })
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group block1">
                                    <label>Contact Person</label>
                                    @Html.DropDownListFor(model => model.BillToDetailModel.ContactPerson, ViewBag.Contact as SelectList, "--Select--", new { @class = "form-control js-example-basic-single3 ddlContactPerson", @id = "ContactPerson", @style = "font-size:14px;" })
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        @{Html.RenderPartial("_Customer", Model.CustomerToAccess);}

        <div class="tab-pane active in" id="nav-tab2-1">
            <h3 class="m-t-10"></h3>
            <fieldset>
                <legend class="pull-left col-md-10 col-sm-8 col-xs-8">Creation & Modification Info </legend>

                <legend class="btn pull-right col-xs-2 text-center collapseBtn" data-toggle="collapse" data-target="#creationInfoBox">
                    <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                    <span class="if-not-collapsed"><i class="fa fa-minus"></i></span>
                </legend>

                @*<legend class="btn pull-right col-md-2 col-xs-3 text-center" id="btnCustomerToAccessList" style="margin-right:5px;"><i class="fa fa-plus" style="padding-right:10px;"></i>Add</legend>*@

                <div id="creationInfoBox" class="mortgagorList collapse in">
                    <div class="row">
                        <div class="col-md-4" id="dtpCreatedDateDiv">
                            <div class="form-group block1">
                                <label>Created Date </label>
                                @Html.TextBoxFor(model => model.CreatedDate, new { id = "dtpCreatedDate", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-md-4" id="cdreatedBy">
                            <div class="form-group block1">
                                <label>Created by </label>
                                @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group block1">
                                <label>Last Updated Date </label>
                                @Html.TextBoxFor(model => model.UpdatedDate, new { id = "dtpUpdatedDate", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" id="UpdatedBy">
                            <div class="form-group block1">
                                <label>Last Updated By </label>
                                @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-md-4" id="status">
                            <div class="form-group block1">
                                <label>Status </label>
                                @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, "--Select--", new { @class = "form-control Property_Level_2", @id = "Status", @readonly = "readonly", @tabindex = "2", @style = "font-size:14px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="tab-pane active in" id="nav-tab2-1">
            <fieldset>
                <legend class="pull-left col-md-10 col-sm-8 col-xs-8">Contract Related</legend>
                <legend class="btn pull-right col-xs-2 text-center collapseBtn" data-toggle="collapse" data-target="#contractRelated">
                    <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                    <span class="if-not-collapsed"><i class="fa fa-minus"></i></span>
                </legend>
                <!-- begin row -->
                <div id="contractRelated" class="collapse in">
                    @{Html.RenderPartial("_SecurityContractsListView", Model.ContractDetails);}
                </div>
            </fieldset>
        </div>
    </div>
</form>

<div class="col-md-10 margin-bottom-25">
    <div class="nav navbar-nav navbar-left">
        <div class="row">
            @if (!ViewBag.Viewable)
            {
                <button type="button" class="btn" id="SaveSecDeposit" onclick="SaveSecurityDeposit('@Url.Action("GetSecurityDepositView","Security", new { SecurityId=Model.Id ,IsView=false})')">Save</button>
                <button type="button" class="btn" id="DischargeOrCancel" onclick="UpdateStatus('@Url.Action("GetSecurityDepositView","Security", new { SecurityId=Model.Id ,IsView=false})')">Discharge/ Cancel</button>
                <button type="button" class="btn" id="ResetEdit" onclick="ResetView('@Url.Action("GetSecurityDepositView","Security", new { SecurityId=Model.Id ,IsView=false})')">Reset</button>
                <button type="button" class="btn deleting" onclick="onViewClick('@Url.Action("SecurityMasterModification", "Security", new { CTGroupCode = DBNull.Value, SubConGroupCode = DBNull.Value, SubMenuId =  @HttpContext.Current.Session["SubMenuIdEdit"] }, Request.Url.Scheme)')">Back</button>
            }
            else
            {
                <button type="button" class="btn deleting" onclick="onViewClick('@Url.Action("SecurityMasterEnquiry", "Security", new { CTGroupCode = DBNull.Value, SubConGroupCode = DBNull.Value, SubMenuId =  @HttpContext.Current.Session["SubMenuId"] }, Request.Url.Scheme)')">Back</button>
            }
        </div>
    </div>
</div>
<script src="~/CustomScript/Security/Customer.js"></script>
<script src="~/CustomScript/Security/security-deposit-master.js"></script>
<script>
    $(document).ready(function () {
        if ('@Html.Raw(@Model)' != null) {
            if ('@Html.Raw(ViewBag.Viewable)' == 'True') {
                $("#mainForm input,textarea,select").prop("disabled", true);
                $(".input-sm").removeAttr("disabled");
                $(".btnAction").prop("disabled", true);
            }
            else {
                if ('@Html.Raw(@Model.Status)' != 'O') {
                    $("#mainForm input,textarea,select").prop("disabled", true);
                    swal(swalGlobal.SwalTitle_Warning, "Security item already discharged/cancelled, modification is not allowed.", swalGlobal.SwalType_Warning);
                    $("#SaveSecDeposit").prop("disabled", true);
                    $("#DischargeOrCancel").prop("disabled", true);
                    $("#ResetEdit").prop("disabled", true);
                    $(".input-sm").removeAttr("disabled");
                    $("#btnCustomerToAccessList").css('display', 'none');
                    $(".btnAction").prop("disabled", true);
                }
                else {
                    $("#Id").prop("disabled", true);
                    $("#txtNRICFINPASSPORT").prop("disabled", true);
                    $("#txtROCUEN").prop("disabled", true);
                }
            }
        }
        else {
            swal(swalGlobal.SwalTitle_Error, "No record found!", swalGlobal.SwalType_Error);
        }
    if ('@Html.Raw(@Model.Id)' != null) {
            SetNavigationforSecurity();
        }
    });
</script>